body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    position: relative; 
}

canvas {
    display: block;
}