body{
    margin: 0;
}
#debug{
    position: fixed;
    bottom:0px;
    left:0px;
    background-color: rgb(48, 48, 48);
    color:white;
    padding-left: 10px;
}
#eraserButton{
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 12px 18px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: #f21fcf;
    background: #46fffc;
    border: none;
    border-radius: 14px;

    box-shadow:
        0 0 10px rgba(255, 181, 255, 0.7),
        0 4px 12px rgba(150, 150, 255, 0.3),
        inset 0 0 12px rgba(255, 255, 255, 0.5);

    cursor: pointer;
    transition: all 0.25s ease;
    font-family: "Orbitron", sans-serif;
    /* touch-action: manipulation; */
}


#sendButton{
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 12px 18px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: #f21fcf;
    background: #46fffc;
    border: none;
    border-radius: 14px;

    box-shadow:
        0 0 10px rgba(255, 181, 255, 0.7),
        0 4px 12px rgba(150, 150, 255, 0.3),
        inset 0 0 12px rgba(255, 255, 255, 0.5);

    cursor: pointer;
    transition: all 0.25s ease;
    font-family: "Orbitron", sans-serif;
}
